* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: #F6E7D8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8vh;
	font-family: 'Heebo', sans-serif;
}

.container header {
	font-size: 18px;
	width: 45ch;
	text-align: center;
	color: #C65D7B;
}

.container header h2 {
	font-size: 40px;
	color: #874356;
	margin: 3vh;
}

.container button {
	all: unset;
	color: #F6E7D8;
	background-color: #874356;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 50px;
	border-radius: 8px;
	cursor: pointer;
}

.container .reset-btn {
	color: #D3ECA7;
	background-color: #B33030;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.container .reset-btn:hover {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container h3 {
	color: #247881;
	font-size: 15px;
	font-weight: 500;
	background-color: #EEEEEE;
	border-radius: 20px;
	padding: 6px 18px;
	margin: -2vh;
	letter-spacing: 1px;
}

.board {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(5, 1fr);
	gap: 1.2vw;
}

.board div {
	width: 60px;
	height: 60px;
	color: #C65D7B;
	background-color: white;
	font-size: 25px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	cursor: pointer;
}

.board div:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.board .die-hold {
	color: #FFC0D3;
	background-color: #FF5C8D;
	box-shadow: none;
}

.board .die-win {
	color: white;
	background-color: #FFB2A6;
	box-shadow: none;
	cursor: default;
}

.board .die-win:hover {
	box-shadow: none;
}



